
body{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    position:relative;
    font-family: 'Fira Sans',sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}

.box{
    display: flex;
    flex-flow: row wrap;
    margin-top: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 500px;
    height: 600px;
}

h1{
    margin: 0px 0px 0px 3px;
}


button {
    height: 91px;
    width: 80px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(253,187,45,1);
    background: rgb(251,170,63);
    background: radial-gradient(circle, rgba(251,170,63,1) 0%, rgba(70,252,233,1) 100%);
    font-size: 20px;
    color: rgb(0, 0, 0);  
}
button:hover{
    background: rgb(70,252,233);
    background: radial-gradient(circle, rgba(70,252,233,1) 0%, rgba(251,170,63,1) 100%);
    cursor: pointer;
}

.result{
    width: 100%;
    font-size: 60px;
    height: 100px;
    border: none;
    border-radius: 0;
    background-color: #22c1c3;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.keyO{
    display: flex;
}
.keyO button{
    flex: 1 1 0%;
    font-weight: 600;
    font-size: 40px;
}

.keyN{
    display: flex;
    flex-wrap: wrap;
}
.keyN button{
    flex: 1 1 33.3333%;
    max-width: 33.3333%;
    font-size: 50px;
    font-weight: 300;
}